.tab{

margin-top: -282px;

 width: 800px;
margin-left:21%;
   
}
.comp{
    display: flex;
    flex-direction:inherit;
    margin-left: 5px;
   padding-top: 2px;
   padding-bottom: 3px;
 

  
}
.resims{
    border-radius: 50%;
    margin-right: 6px;
}
.h4{
    margin-top: 8px;
}
