

.resim{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
}
.input{
    padding: 5px;
    border-radius: 5px;
}
.hrs{
	border-left: 4px solid black;
	height: 100%;
   position: absolute;
	left: 75%;
	}
.aa{border-left: 4px solid #070707;
    height: 100%;
position: absolute;
    left: 20%;
}


 